<head>
    {{> header }}
    
    <title>Flower Buds Boutique</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/64f41baef5.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> cart-cont }}
    
    <script src="js/script.js" defer type="module"></script>
    <script src="js/checkout.js" defer type="module"></script>
</body>