<head>
    {{{header}}}
    <title>Flower Buds Boutique</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="js/script.js" defer></script>
</head>

<body>
    {{{index-cont}}}
</body>