<head>
    {{> header }}
    
    <title>Sign Up - Flower Buds Boutique</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{> signup-cont }}
    
    <script src="js/signup.js"></script>
</body>